<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">
    <title>Game</title>
</head>
<body>
    <div id="popcat">
        <h1 v-if="heath1<=0" id="color_white">com win</h1>
        <h1 v-if="heath2<=0" id="color_white">player win</h1>
    <img src="imgs/Narrative_Gundam_(Front).png" alt="" v-bind:style="{height:heath1+'px'}" id="imgs2">
    <p id="heath1">{{heath1}}</p>
    <img src="imgs/X105_Strike_Gundam.png" alt="monsters" v-bind:style="{height:heath2+'px'}" id="imgs">
    <p id="heath2">{{heath2}}</p>
    <button id="startsb" class="btn btn-primary">start</button>
    <button @click="attacks(3,10)" id="attckss" class="btn btn-danger">attack</button>
    <button @click="attackss(10,20)" id="spattck" class="btn btn-dark">Special Attack</button>
    
    </div>
</body>
</html> 
<script>
var app = new Vue({
  el: '#popcat',
  data: {
    heath1:100,
    heath2:100,
  },
  methods: {
      attacks:function(min,max){
        var trang=Math.max(Math.floor(Math.random() * max) + 1, min);
        this.heath2-=trang
        var king=Math.max(Math.floor(Math.random() * 15) + 1, 5);
        this.heath1-=king
      },
      attackss:function(min,max){
        var trang2=Math.max(Math.floor(Math.random() * max) + 1, min);
        this.heath2-=trang2
        var king=Math.max(Math.floor(Math.random() * 15) + 1, 5);
        this.heath1-=king
      },
      
  
      /*super:function(min,max){
        var trang=Math.max(Math.floor(Math.random() * max) + 1, min);
      },*/
    }
})
</script>